.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.waveform-container {
  width: 1000px;
  height: 500px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }

}

.files-dropzone {
  border: 1px solid black;
  margin-left: 10%;
  margin-right: 10%;

  height: 50px;
  line-height: 50px;
  text-align: center;
}

.dropzone-label {
  display: inline-block;
  vertical-align: middle;
}

.live-button {
  text-align: center;
  margin: auto;
  cursor: pointer;
  width: 200px;
  border: 1px solid black;
}
